



<script type="text/javascript" src="https://cdn.staticfile.net/Chart.js/4.3.0/chart.umd.min.js" defer></script>
<script>


    function tryCreateChart(ctx, config, retries = 5, delay = 1000) {
        if (typeof Chart !== 'undefined') {
            // Chart 存在，创建实例
Chart.defaults.font.family = 'LXGW WenKai';

            new Chart(ctx, config);
        } else if (retries > 0) {
            // Chart 不存在，延迟后重试
            setTimeout(() => {
                tryCreateChart(ctx, config, retries - 1, delay);
            }, delay);
        } else {
            // 超过重试次数，抛出错误
            throw new Error('Failed to initialize Chart after multiple attempts.');
        }
    }
    
  const ctx = document.getElementById('myChart');
  if (ctx) {
  const labels = ['8月15日', '8月18日', '8月19日', '8月20日', '8月20日', '8月15日', '9月30日', '10月14日', '11月9日', '11月11日', '12月7日', '12月14日', '12月21日', '2024年1月6日', '1月18日', '2月21日', '2月25日', '3月16日', '4月18日', '5月3日', '5月6日','5月27日','9月24日'];
  data_e_money = [121.72, 127.49, 129.17, 140.40, 241.17, 241.17, 241.17, 241.17, 361.17, 370.99, 383, 433, 533, 533, 533, 533, 533, 640.5, 640.5, 640.5, 644.3, 851.3, 851.3];
  data_e_consume = [160.4, 168.6, 171.1, 187.1, 188.2, 268.2, 268.2, 315.9, 381.7, 425.8, 475.5, 513.7, 565.9, 614.5, 666.6, 736.2, 773.4, 831.6, 896.2, 946.0, 963.7, 1016.5, 1298.3 ];
  data_oil_money = [200, 200, 200, 200, 200, 200, 200, 200, 200, 200, 200, 200, 300, 300, 300, 400, 400, 400, 400, 400, 400,400, 400];
  data_oil_consume = [11.4, 11.5, 11.5, 11.8, 11.8, 12.4, 12.4, 12.7, 14.7, 17.1, 18.9, 19.3, 19.8, 21.9, 22.5, 25.9, 30.5, 31, 31.5, 32.4, 34.5,34.7,43.2];
  data_distance = [1115, 1171, 1183, 1308, 1316, 1849, 2013, 2121, 2583, 2844, 3159, 3243, 3425, 3656, 3863, 4113, 4346, 4765, 5202, 5490, 5775,6133,8142];
  data_money = [];
  data_all_money = [];
  for (let index = 0; index < data_e_money.length; index++) {
    data_money.push((data_e_money[index] + data_oil_money[index]) / data_distance[index]);
    data_all_money.push(data_e_money[index] + data_oil_money[index]);
  }

  const data_1 = {
    labels: labels,
    datasets: [
      {
        label: '总费用',
        data: data_all_money,
        cubicInterpolationMode: 'monotone',
        spanGaps: true,
        yAxisID: 'y',
      },
      {
        label: '油费',
        data: data_oil_money,
        cubicInterpolationMode: 'monotone',
        spanGaps: true,
        yAxisID: 'y',
      },
      {
        label: '电费',
        data: data_e_money,
        yAxisID: 'y',
        cubicInterpolationMode: 'monotone',
        spanGaps: true,
      },
      {
        label: '电量',
        data: data_e_consume,
        yAxisID: 'y',
        cubicInterpolationMode: 'monotone',
        spanGaps: true,
      },
      {
        label: '油量',
        data: data_oil_consume,
        yAxisID: 'y',
        cubicInterpolationMode: 'monotone',
        spanGaps: true,
      },
      {
        label: '平均',
        data: data_money,
        yAxisID: 'y',
        cubicInterpolationMode: 'monotone',
        spanGaps: true,
      },
      {
        label: '里程',
        data: data_distance,
        yAxisID: 'y1',
        cubicInterpolationMode: 'monotone',
        spanGaps: true,
      }
    ]
  };

  const config_1 = {
    type: 'line',
    data: data_1,
    options: {
      responsive: true,
      interaction: {
        mode: 'index',
        intersect: false,
      },
      stacked: false,
      plugins: {
        title: {
          display: true,
          text: '2023年行车费用',

          font: {
            size: 20,
            weight: 'bold',
          },
          padding: { top: 0, left: 0, right: 0, bottom: 20 }

        },
      },
      scales: {
        x: {
          display: false,
          title: {
            display: true,
            // text: '图1：啊啊啊',
            padding: { top: 10, left: 0, right: 0, bottom: 10 }
          }
        },
        y: {
          type: 'linear',
          display: true,
          position: 'left',
          title: {
            display: true,
            text: '油/电费(元)'
          },
        },
        y1: {
          type: 'linear',
          display: true,
          position: 'right',
          title: {
            display: true,
            text: '里程(公里)'
          },
          // grid line settings
          grid: {
            drawOnChartArea: false, // only want the grid lines for one axis to show up
          },
        },
      }
    },
  };
tryCreateChart(ctx, config_1);
}

</script>







